/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
  color: #02140b;
  background-color: #72ebaa;
  border-color: #60e89f;
}

.alert-primary hr {
  border-top-color: #4ae592;
}

.alert-primary .alert-link {
  color: #000000;
}

.badge-primary {
  color: #fff;
  background-color: #128045;
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
  color: #fff;
  background-color: #0b532c;
}

.bg-primary {
  background-color: #128045 !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #0b532c !important;
}

.border-primary {
  border-color: #128045 !important;
}

.btn-primary {
  color: #fff;
  background-color: #128045;
  border-color: #128045;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0d6034;
  border-color: #0b532c;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(18, 128, 69, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #128045;
  border-color: #128045;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0b532c;
  border-color: #094525;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(18, 128, 69, 0.5);
}

.btn-outline-primary {
  color: #128045;
  background-color: transparent;
  border-color: #128045;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #128045;
  border-color: #128045;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(18, 128, 69, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #128045;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #128045;
  border-color: #128045;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(18, 128, 69, 0.5);
}

.list-group-item-primary {
  color: #02140b;
  background-color: #60e89f;
}

.list-group-item-primary.list-group-item-action:hover,
.list-group-item-primary.list-group-item-action:focus {
  color: #02140b;
  background-color: #4ae592;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #02140b;
  border-color: #02140b;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #60e89f;
}

.table-hover .table-primary:hover {
  background-color: #4ae592;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #4ae592;
}

.text-primary {
  color: #128045 !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #0b532c !important;
}
